main-bot-bg-color = #fff
main-blue = #4E8CFF
hightlight-color = #FED330
bot-message-color = #e5e5e5c9
disabled-link = #a5a5a5

@font-face 
  font-family "RobotoItalic"
  src url("~@/assets/fonts/Roboto-Italic.ttf") format("truetype")

@font-face 
  font-family "RobotoBold"
  src url("~@/assets/fonts/Roboto-Bold.ttf") format("truetype")

@font-face 
  font-family "RobotoRegular"
  src url("~@/assets/fonts/Roboto-Regular.ttf") format("truetype")

