mainBotBgColor = #fff
mainBlue = #4E8CFF
subMainBlue = #72a1f7
hightlightColor = #FED330
botMessageColor = #e5e5e5c9
disabledLink = #a5a5a5

@font-face
  font-family 'RobotoRegular'
  src url('~@/assets/fonts/Roboto-Regular.ttf') format('truetype')
