.btn__chat
  z-index 1000
  width 60px
  height 60px
  color #fff
  font-size 25px
  border-radius 50px
  outline none !important
  background-color mainBlue
  transition 0.4s
  cursor pointer
  display flex
  justify-content center
  align-items center
  border none
  position absolute
  bottom -80px
  right 0
  visibility visible

  &:hover
    transform scale(1.05)

  svg.close
    width 20px

  svg.open
    width 31px

  .done
    display none