*
  margin 0
  padding 0
  box-sizing border-box

a
  text-decoration none

.vvsu-chat-bot
  position fixed
  right 20px
  bottom 100px
  top auto
  max-width 340px
  width 90%

.chat-bot
  z-index 1000
  border-radius 15px
  height calc(100vh - 100px)
  max-height 590px
  transition opacity 0.2s ease-in
  visibility hidden
  display none
  opacity 0
  transform translateY(50px)
  box-shadow 0px 0px 20px 0px #666
  background-color mainBotBgColor
  transition all 0.3s ease-in


  &.isActive
    display block
    opacity 1
    transform translateY(0px)
    visibility visible

  &__header
    border-top-left-radius 15px
    border-top-right-radius 15px
    display -webkit-flex
    display -moz-flex
    display -ms-flex
    display -o-flex
    display flex
    padding 10px
    align-items center
    flex-flow row nowrap
    background-color mainBlue

    &__img svg
      width 50px
      height 50px

    &__title
      font-family 'RobotoBold'
      font-weight 900
      font-size 20px
      margin-left 12px
      color white

  &__chat
    padding 23px
    overflow-x hidden
    overflow-y hidden
    position relative
    height 87%
    display flex
    flex-direction column
    justify-content space-between

    &::-webkit-scrollbar
      width 0px

  &__dialog
    overflow-x hidden
    overflow-y scroll
    overflow -moz-scrollbars-none
    -ms-overflow-style none
    flex 1 1 auto
    .text-helper
      color: #878b90;
      font-size: 14px;
      line-height: 24px;
      margin 0 auto

    &::-webkit-scrollbar
      width 0px

ul, ol > li
  list-style-type none

@media only screen and (max-width: 430px)
  .chat-bot
    &__chat
      padding 10px

    // &.isActive
    //   width 90%
      // right 0px !important
