*
  margin 0
  padding 0
  box-sizing border-box

a
  text-decoration none

.chat-bot__body
  display flex
  flex-direction column
  overflow-x hidden
  overflow-y auto

ul, ol > li
  list-style-type none
  margin 0 !important

.block-message
  padding 11px 18px
  color black
  line-height 20px
  word-wrap break-word
  position relative
  width 85%
  border-radius 8px
  font-size 14px
  font-family 'RobotoRegular'
  overflow: hidden

  &:not(:last-child)
    margin-bottom 20px

  &__back
    width: 75px
    height 30px
    // Компенсация padding'а родителя .block-message
    margin-right -18px
    margin-bottom -11px
    // Закругление такие же, как и у .block-message
    border-radius 8px 0px 0px 0px
    text-align center
    line-height 30px // Центрирование текста
    background-color subMainBlue
    transition all 0.2s ease
    fill #fff 
    &:hover
      cursor pointer
      color black
      fill black
  // Фикс для экранов (ибо у .block-message меняется padding)
  @media only screen and (max-width: 430px)
    &__back
      margin-right -15px
      margin-bottom -9px

  &__answer
    counter-increment list
    margin-left 10px

    &:not(:last-child)
      margin-bottom 10px

    &:before
      content counter(list) '.'
      color black

    &.disabled
      &:before
        color disabledLink !important

      span
        pointer-events none
        cursor default
        color disabledLink !important

    span
      color black
      transition all 0.2s ease
      cursor pointer

      &:hover
        color mainBlue

        & ^[1]:before
          color mainBlue

  &__text
    margin-bottom 5px

  &__footer
    display flex
    justify-content space-between
    align-items flex-end
    margin-top 10px

    &__data
      font-size 14px
      font-family 'RobotoRegular'
      font-style italic
      font-weight 400

.block-bot-message
  align-self flex-start
  background-color botMessageColor

.block-you-message
  align-self flex-end
  background-color mainBlue
  color white

@media only screen and (max-width: 430px)
  .block-message
    padding 9px 15px