.search-block
  margin-bottom 20px !important
  width 100%

.search-block__wrapper
  width 100%
  height 40px
  position relative

.search-block__input
  border 1px solid #eee
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px
  border-top-right-radius 8px
  border-top-left-radius 8px
  width 100%
  height 50px
  padding 0 12px
  box-sizing border-box
  position relative
  font-size 16px
  line-height 1.5
  flex 1
  background-color #eee
  // &:focus
  //   border-bottom-left-radius 0px
  //   border-bottom-right-radius 0px

.highlight
  background-color rgba(hightlightColor, 1)

.search-block__input::-webkit-search-decoration, .search-block__input::-webkit-search-cancel-button, .search-block__input::-webkit-search-results-button, .search-block__input::-webkit-search-results-decoration
  display none

.search-block__input
  &:focus, &:active
    border-color rgba(0, 0, 0, 0.12)
    background-color #fff
    outline none
    box-shadow 0 2px 2px rgba(0, 0, 0, 0.16)

  &::-ms-clear, &::-ms-reveal
    display none
    width 0
    height 0

  &::-webkit-input-placeholder, &::-moz-placeholder, &::-ms-input-placeholder, &::placeholder
    color #AAAAAA

.list
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px
  margin 0
  border 1px solid rgba(0, 0, 0, 0.12)
  padding 0
  box-sizing border-box
  max-height 296px
  overflow-y auto
  background #fff
  list-style none
  box-shadow 0 2px 2px rgba(0, 0, 0, 0.16)

  &::-webkit-scrollbar
    width 0px !important

  &__search-item
    padding 8px 0
    list-style none

    &:first-child
      margin-top 8px

    &:last-child
      margin-bottom 8px

    &:hover
      background-color #eee
      cursor pointer

    p
      margin 0 15px
      font-size 14px
      font-family 'RobotoRegular'
      line-height 20px

    &.selected
      background-color rgba(mainBlue, 0.3)

.search-block__reset
  outline none
  display block
  font-size 23px
  position absolute
  top 12px
  right 13px
  margin 0
  border 0
  background none
  cursor pointer
  padding 0
  z-index 99
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.search-block__input:valid ~ .search-block__reset
  display block
  -webkit-animation-name reset-in
  animation-name reset-in
  -webkit-animation-duration 0.15s
  animation-duration 0.15s

@keyframes reset-in
  0%
    -webkit-transform translate3d(-20%, 0, 0)
    transform translate3d(-20%, 0, 0)
    opacity 0

  100%
    -webkit-transform none
    transform none
    opacity 1

@media only screen and (max-width: 430px)
  .search-block__wrapper
    height 30px
  .search-block__input
    height 40px